<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Demo Application</title>
</head>
<body>
<h1>Author List</h1>

<table>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
    </tr>
    <tr th:each="author : ${authors}">
        <td th:text="${author.id}">ID1</td>
        <td th:text="${author.firstName}">Title1</td>
        <td th:text="${author.lastName}">Publisher1</td>
    </tr>
</table>
</body>
</html>